<template>
  <div class="table--wrrrapper">
    <Table v-if="data" :tableData="data" @handleDelete="handleDelete" />
  </div>
</template>

<script>
import Table from "./Table.vue";
import data from "../helpers/data.json";
export default {
  components: {
    Table,
  },
  data() {
    return {
      data,
    };
  },
  methods: {
    handleDelete(row) {
      console.log(row, "h");
      this.data = this.data.filter(function (ele) {
        return (
          ele.data["Identification number"] != row.data["Identification number"]
        );
      });
    },
  },
};
</script>
<style>
.table--wrrrapper {
  padding: 0 1rem;
}
</style>