<template>
  <table>
    <thead>
      <tr>
        <th v-for="(item, idx) in columns" :key="`col-${idx}`">
          <div class="table-header">
            <span class="label">
              {{ item }}
            </span>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <template v-for="(row, rIdx) in tableData" :key="rIdx">
        <tr>
          <td
            v-if="Object.keys(row.kids).length > 0"
            @click="handleShow(row)"
            class="cursor"
          >
            {{
              isVisible && row.data["Identification number"] == activeId
                ? "-"
                : "+"
            }}
          </td>
          <td
            class="cursor"
            v-for="(col, idx) in Object.keys(row.data)"
            :key="`col-${rIdx}-${idx}`"
            @click="handleShow(row)"
          >
            <span>{{ row.data[col] }}</span>
          </td>
          <td class="cursor" @click="$emit('handleDelete', row)">x</td>
        </tr>
        <tr
          v-if="
            Object.keys(row.kids).length > 0 &&
            isVisible &&
            row.data['Identification number'] == activeId
          "
        >
          <td :colspan="columns.length">
            <caption>
              {{
                Object.keys(row.kids)[0]
              }}
            </caption>
            <Table
              v-for="(table, index) in Object.keys(row.kids)"
              :key="`table-${index}`"
              :tableData="row.kids[table]['records']"
            />
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "Table",
  props: {
    tableData: {
      required: true,
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isVisible: false,
      activeId: null,
    };
  },
  methods: {
    handleShow(row) {
      this.isVisible = !this.isVisible;
      this.activeId = row.data["Identification number"];
    },
  },
  computed: {
    columns() {
      let cols = [];
      this.tableData.map((item) => {
        Object.keys(item.data).map((key) => {
          if (!cols.includes(key)) {
            cols.push(key);
          }
        });
      });
      cols.unshift("");
      cols.push("action");
      return cols;
    },
  },
};
</script>

<style>
/* Fixed Headers */

table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
}

caption {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 14px;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

th[scope="row"] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

th[scope="row"] {
  vertical-align: top;
  color: inherit;
  background-color: inherit;
}

th:not([scope="row"]) {
  left: 0;
  z-index: 3;
}

table thead,
tr {
  border-color: #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

tbody tr {
  border-bottom: 1px solid #ebebeb;
}

.cursor {
  cursor: pointer;
}

tbody tr:last-child {
  border-bottom: none;
}

table thead tr th {
  top: -1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #ffffff;
}

.table-header {
  display: flex;
  align-items: center;
}
table thead tr th:first-child {
  justify-content: center;
  display: flex;
}

table thead tr th .label {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

table tr th {
  position: sticky;
  top: -1px;
  box-shadow: 0 0 2px -1px #ebebeb;
  left: 0;
  margin: 0;
  padding: 0.6rem;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}

table tr td span {
  font-size: 0.85rem;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #272727;
}
.link {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: hsl(212, 100%, 65%);
}

/* safari and ios need the tfoot itself to be position:sticky also */
table tfoot,
table tfoot th,
table tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 4;
}

table tfoot tr td {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  background: #ffffff;
}
table tfoot {
  border-top: 1px solid #ebebeb;
}
table tfoot tr td span {
  font-weight: 600;
}

.table--wrrrapper .footer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
</style>